/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* ---------
*
*	Layout
* 
*---------*/

/* ---------
*	
*	Comment Form
* 
*---------*/


.lower_header {
	height: 100px;
	margin: 0 auto;
	width: 1020px;
	border-bottom: 1px solid #E3E3E8;
	border-top: 1px solid #E3e3E8;
	margin-bottom: 30px
}

.header_links {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-size: 13px;
	font:14px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header_links li{
	position: relative;
	float: left;
	margin: 0 10px 0 0;
}
.header_links a{
	padding-bottom: 66px;
	color: #333;
text-decoration: none;
font-weight: bold;
-webkit-transition: color 0.1s linear;
}
.header_links a:hover{
	color: #FF4629;
	border-bottom: 3px solid #333;
}
.header_paths{
	width: 235px;
	margin: 0 auto;
	padding: 12px;

}

h2 {
font-size: 24px;
border-bottom: 1px solid #CCC;
color: black;
	
}
.field {
	width: 1020px;
	margin: 0 auto;

}
.contaner{
	width: 700px;
	float: left;
	background: #ffffff;

}

.post_contaner{
padding: 3px;
background: #EEE;
border-radius: 3px;
}

.comment_contaner_bubble {
	width: 700px;
	float: left;
	margin: 20px 0;
	padding-left: 60px;
	position: relative;
	background: #EEE;
}

.comment_contaner {
	margin: 10px 0;
	position: relative;

}

.search {
	margin: 0;
	float: right;
}

.comment_border{
	padding: 3px;
	background: #EEE;
	border-radius: 3px;

}

.comment {
	border: 1px solid #CACACA;
	background: #ffffff;

}

.comment_header{
	height: 33px;
	padding: 0 10px 0 6px;
	border-bottom: 1px solid #CCC;
	background:-webkit-linear-gradient(#FAFAFA, #EAEAEA);
}

.comment_header_name {
	margin: 0;
float: left;
max-width: 600px;
font-size: 12px;
height: 33px;
line-height: 33px;
text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.form_header{
margin: 0;
float: left;
max-width: 600px;
font-size: 15px;
height: 33px;
line-height: 33px;
text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;

}

.comment_header_t_stamp {
	float: right;
margin: 0;
font-size: 11px;
height: 33px;
line-height: 33px;

}
.comment_body {
padding: 10px;
font-size: 13px;
overflow: auto;
width: 100%;
box-sizing: border-box;
}

.comment_form_body{
	height: 100px;
	width: 99%;
}

.comment_form_contaner{
	padding: 10px;


}


.side_bar {
	width: 300px;
	float: right;
}
.side_bar_contaner{
	height: 350px;
	border-bottom: 1px solid #E3E3E8;
	border-top: 1px solid #E3e3E8;


}

.post{
	background-color: white;
	border: 1px solid #CACACA;
	padding: 30px;
}

.post_title {
	text-decoration: none;
	color: black;
}

.post_title:hover {
	text-decoration: underline;
}

.author_timestamp{
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	font-weight: 500;
	color: #5c5c5c;
}

.post_body_sample {
	font: 13px Helvetica, arial, freesans, clean, sans-serif;

}

.post_body {
	font: 13px Helvetica, arial, freesans, clean, sans-serif;



}

p {
display: block;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.sample_body{
}

.sample_body_img{
	width: 315px;
	float: right;

}

.post_header {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	padding: 10px 10px;
	color: #555;
	text-shadow: 0 1px 0 white;
	display: block;
	border: 1px solid #CACACA;
	border-bottom: 0 none;
	background:-webkit-linear-gradient(#FAFAFA, #EAEAEA);
}

.posts_footer {
		font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	padding: 10px 10px;
	color: #555;
	text-shadow: 0 1px 0 white;
	display: block;
	border: 1px solid #CACACA;
	border-bottom: 0 none;
	background-color: white;
}

.pagination {
        font-size: 11px;
        float: left;
        margin: 0;
        padding: 3px 0 4px;
    }
        .pagination a,
        .pagination span {
            padding: 3px 3px 2px;
        }
        .pagination .disabled {
            background:none repeat scroll 0 0 transparent;
            border:medium none;
            color:#999999;
            cursor:default;
        }
        .pagination a {
            color: #5c5c5c;
            cursor:pointer;
            text-decoration:none;
        }
        .pagination a:hover {
            background-color: #5c5c5c;
            border-bottom:1px solid  #5c5c5c;
            border-color:#D8DFEA #D8DFEA  #5c5c5c;
            color:#FFFFFF;
            text-decoration:none;
        }
        .pagination .current {}
            .pagination .current {
                border-bottom:2px solid  #5c5c5c;
                border-color: #5c5c5c;
                color: #5c5c5c;
                font-weight:bold;
                padding-left:2px;
                padding-right:2px;
            }
            .pagination .current a:hover {
                background-color: #5c5c5c;
                color:#FFFFFF;
            }

        .pagination .prev_page {

        }
        .pagination .next_page {

        }


footer {
	padding-top: 50px;
padding-bottom: 50px;
}
.footer_banner{
height: 160px;	
border-top: 1px solid #E0E0E0;
border-bottom: 1px solid #E0E0E0;
box-shadow: inset 0 -1px 0 white;
background-color: #F8F8F8;

}
.footer_content{
margin: 0 auto;
width: 1020px;

}

.clearboth{clear:both;}
